p {
  margin: 0px;
  padding: 10px;
  font-family: 'Work Sans';
  color: black;
  line-height: 1.4em;
  font-size: 16px;
}

p.bigger {
    font-size: 26px;
    padding: 20px 0px;
}

body {
  margin: 0;
  font-family: 'Work Sans';
  color: black;
}

h1 {
  font-family: 'Work Sans';
  color: black;
  margin: 0px;
  float: left;
  padding: 10px 10px 10px 30px;
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 29px;
}

h2 {
  font-family: 'Work Sans';
  font-size: 23px;
  color: black;
}

h3 {
  font-size: 20px;
  font-family: 'Work Sans';
  padding: 0px;
  margin: 0px 0px 15px 0px;
}


h4 {
  font-size: 15px;
  font-style: italic;
  color: black;
}

ul {
  list-style-type: square;
  margin-bottom: 0px;
  padding: 10px 10px 10px 35px;
}

::selection {
  background: #228277;
  color: white;
}

a:link, a:visited, a:active {
  color: black;
    text-decoration: none;
}

a:hover {
  border-bottom: 3px solid black;
  /*-webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;*/
}

.header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 70;
  /*background-color: rgb(218, 232, 230);*/
}

#footer {
  width: 100%;
  height: 65px;
  bottom: 0px;
  float: right;
}

li {
  font-size: 15px;
  line-height: 1.4em;
  color: black;
}

ul.navigation, ul.links {
  margin: 10px 35px 0px 0px;
  float: right;
  font-family: 'Work Sans';
}

ul.navigation li, ul.links li {
  display: inline-block;
  padding: 3px;
  font-size: 15px;
}

ul.navigation li a {
  display: block;
  padding: 5px 6px;
  color: black;
}

ul.links li a {
  display: block;
  color: black;
  padding: 4px;
  font-size: 20px;
}

.top {
  margin-top: 100px;
  font-size: 18px;
}

section.front_page {
  margin-top: 70px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-image: url("images/sketchbook/oakland/2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

section#about, section#projects {
  width: 100%;
  background: white;
}

br {
  display: block;
  line-height: 120%;
}

.border {
  display: inline-block;
  margin-top: 15px;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid black;
}

.border:hover {
  padding: 15px;
  border-radius: 3px;
  background-color: black;
  color: white;
  border: 2px solid black;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;

}

@media (min-width: 1500px) {

  .dropdown {
    display: none;
  }

  .center {
    width: 1165px;
    margin: 0 auto;
    overflow: auto;
  }

  img.thumbnail{
    width: 287px;
    height: 287px;
    object-fit: cover;
    display: block;
  }

  .tint:before, .tint_large:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: black;
      -moz-transition: all .5s linear;
      -webkit-transition: all .5s linear;
      -ms-transition: all .5s linear;
      -o-transition: all .5s linear;
      transition: all .5s linear;
    }

  .tint:hover:before, .tint_large:hover:before {
    background: none;
   }

  .tint {
    width: 287px;
    height: 287px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  span.caption {
   cursor: pointer;
   display: table;
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 1;
   display: table-cell;
   text-align: center;
   font-family: 'Work Sans';
   color: white;
  }

  span.caption:hover {
   opacity: 0;
  }

  .img.selection {
    width: 522px;
    margin: 0px;
    height: 700px;
    object-fit: cover;
  }

  img.thumbnail_large{
    width: 1145px;
    height: 300px;
    object-fit: cover;
    display: block;
  }

  .tint_large {
    width: 1145px;
    height: 300px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
  }

  .two_thirds {
    width: 58%;
    margin: 1.5%;
  }

  .two_thirds.inline {
    display: inline-block;
  }

  .one_third {
    width: 29%;
    margin: 1.5%;
    display: inline-block;
    vertical-align: top;
  }

  .one_third img {
    width: 100%;
    vertical-align: top;
  }

  .spacer.hide_me {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1499px) {

  .dropdown {
    display: none;
  }

  .center {
    width: 885px;
    padding: 10px;
    margin: 0 auto;
  }

  img.thumbnail{
    width: 217px;
    height: 217px;
    object-fit: cover;
    display: block;
  }

  .tint:before, .tint_large:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: black;
      -moz-transition: all .5s linear;
      -webkit-transition: all .5s linear;
      -ms-transition: all .5s linear;
      -o-transition: all .5s linear;
      transition: all .5s linear;
    }

  .tint:hover:before, .tint_large:hover:before {
    background: none;
   }

  .tint {
    width: 217px;
    height: 217px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0px;
  }

  span.caption {
   cursor: pointer;
   display: table;
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 1;
   display: table-cell;
   text-align: center;
   font-family: 'Work Sans';
   color: white;
  }

  span.caption:hover {
   opacity: 0;
  }

  img.thumbnail_large{
    width: 865px;
    height:230px;
    object-fit: cover;
    display: block;
  }

  .tint_large {
    width: 865px;
    height:230px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
  }

  .two_thirds {
    width: 58%;
    margin: 1.5%;
  }

  .two_thirds.inline {
    display: inline-block;
  }

  .one_third {
    width: 29%;
    margin: 1.5%;
    vertical-align: top;
    display: inline-block;
  }

  .one_third img {
    width: 100%;
    display: block;
    vertical-align: top;
  }

  .one_third img {
    width: 100%;
    vertical-align: top;
    display: block;
  }

  .spacer.hide_me {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 899px) {

  .center {
    width: 420px;
    margin: 0 auto;
  }

  img.thumbnail{
    width: 197px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    object-fit: cover;
    display: block;
  }

  .tint:before, .tint_large:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: black;
      -moz-transition: all .5s linear;
      -webkit-transition: all .5s linear;
      -ms-transition: all .5s linear;
      -o-transition: all .5s linear;
      transition: all .5s linear;
    }

  .tint:hover:before, .tint_large:hover:before {
    background: none;
   }

  .tint {
    width: 197px;
    height: 200px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
  }

  span.caption {
   cursor: pointer;
   display: table;
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 1;
   display: table-cell;
   text-align: center;
   font-family: 'Work Sans';
   color: white;
  }

  span.caption:hover {
   opacity: 0;
  }

  img.thumbnail_large{
    width: 400px;
    height:150px;
    object-fit: cover;
    display: block;
  }

  .tint_large {
    width: 400px;
    height:150px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
  }

  ul.navigation {
    display: none;
  }

  .dropbtn {
    color: black;
    background: none;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    text-align: right;
    padding: 10px;
    font-family: 'Work Sans';
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    padding: 15px 15px 0px 0px;
    display: none;
    width: 80px;
    position: absolute;
    overflow: auto;
    left:auto;
    right:0;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  /*.dropdown-content a:hover {
    color: white;
  }*/

  .show {display:block;}

  .one_third , .two_thirds, .one_third img {
    width: 100%;
  }

  /*.hide {
    display: none;
  }*/

}

@media (min-width: 0px) and (max-width: 399px) {

  .center {
    width: 290px;
    margin: 0 auto;
  }

  h1 {
    font-size: 20px;
  }

  img.thumbnail{
    width: 100%;
    display: block;
  }

  .tint:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: black;
      -moz-transition: all .5s linear;
      -webkit-transition: all .5s linear;
      -ms-transition: all .5s linear;
      -o-transition: all .5s linear;
      transition: all .5s linear;
    }

  .tint:hover:before {
    background: none;
   }

  .tint {
    width: 270px;
    height: 270px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
  }

  span.caption {
   cursor: pointer;
   display: table;
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 1;
   display: table-cell;
   text-align: center;
   font-family: 'Work Sans';
   color: white;
  }

  span.caption:hover {
   opacity: 0;
  }

  ul.navigation {
    display: none;
  }

  .dropbtn {
    color: rgb(115, 160, 163);
    background: none;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    text-align: right;
    padding: 10px;
    font-family: 'Work Sans';
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    padding: 10px;
      display: none;
      min-width: 120px;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      padding: 10px;
      text-decoration: none;
      display: block;
      background-color: rgb(218, 232, 230);
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background: #228277;
    color: white;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
  }
}

span h2 {
  color: white;
}

.center {
  padding-bottom: 20px;
}

.center img.full {
  width: 100%;
}

.right img, .left img {
  width: 100%;
  margin: 0 auto;
}

.spacer {
  display: block;
  width: 100%;
  height: 50px;
}
