p {
  margin: 0px;
  padding: 10px;
  font-family: 'Work Sans';
  color: black;
  line-height: 1.4em;
  font-size: 16px;
}

p.bigger {
    font-size: 26px;
    padding: 20px 0px;
}

body {
  margin: 0;
  font-family: 'Work Sans';
  color: black;
}

a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #e5ccc9;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

h1 {
  font-family: 'Work Sans';
  margin: 0px;
  float: left;
  padding: 20px;
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 29px;
}

h2 {
  font-family: 'Work Sans';
  font-size: 23px;
  color: black;
}

h3 {
  font-size: 20px;
  font-family: 'Work Sans';
  padding: 0px;
  margin: 0px 0px 15px 0px;
}


h4 {
  font-size: 15px;
  font-style: italic;
  color: black;
}

ul {
  list-style-type: square;
  margin-bottom: 0px;
  padding: 10px 10px 10px 35px;
}

::selection {
  background: #228277;
  color: white;
}

.header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 70;
}

.full_size_image {
  background-image: url("images/botanic_garden/03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.link_to_site {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: black;
  padding: 10px;
  border-radius: 3px;
}

#footer {
  width: 100%;
  height: 65px;
  bottom: 0px;
  float: right;
}

ul {
  text-align: left;
}

li {
  font-size: 15px;
  line-height: 1.4em;
  color: black;
}

ul.navigation, ul.links {
  margin: 10px 35px 0px 0px;
  float: right;
  font-family: 'Work Sans';
}

ul.navigation li, ul.links li {
  display: inline-block;
  padding: 3px;
  font-size: 15px;
}

ul.navigation li a {
  display: block;
  padding: 5px 6px;
  color: black;
}

ul.links li a {
  display: block;
  color: black;
  padding: 4px;
  font-size: 20px;
}

.top {
  margin-top: 100px;
}

section.front_page {
  width: 100%;
  overflow: auto;
}

br {
  display: block;
  line-height: 120%;
}

.border {
  display: inline-block;
  margin-top: 15px;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid black;
}

.border:hover {
  padding: 15px;
  border-radius: 3px;
  background-color: black;
  color: white;
  border: 2px solid black;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

.tint {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  margin: 10px;
}

.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }

.tint:hover:before {
  background: rgba(229, 204, 201, 1.0);
 }

span.caption {
  cursor: pointer;
  display: table;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: table-cell;
  text-align: center;
  font-family: 'Work Sans';
  color: white;
  }

span.caption:hover {
opacity: 1;
}

@media (min-width: 1200px) {

  .dropdown {
    display: none;
  }

  .center {
    width: 1165px;
    margin: 0 auto;
  }

  img.thumbnail, span.caption {
  	width: 364.5px;
  }

  .tint {
    height: 364.5px;
  }

  img.thumbnail{
  	display: inline-block;
    cursor: pointer;
  }

  span.caption {
    padding-top: 150px;
  }

  h3 {
    font-size: 40px;
  }

  .two_thirds {
    width: 58%;
    margin: 1.5%;
  }

  .two_thirds.inline {
    display: inline-block;
  }

  .one_third {
    width: 29%;
    margin: 1.5%;
    display: inline-block;
    vertical-align: top;
  }

  .one_third img {
    width: 100%;
    vertical-align: top;
  }

  .inline {
    display: inline-block;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {

  .dropdown {
    display: none;
  }

  .center {
    width: 885px;
    padding: 10px;
    margin: 0 auto;
  }

  .project_main {
  	display: inline;
  }

  img.thumbnail, span.caption {
    width: 197px;
  }

  img.thumbnail {
    display: inline-block;
    cursor: pointer;
  }

  .tint {
    height: 197px;
  }

  span.caption {
    padding-top: 80px;
  }

  .two_thirds {
      width: 58%;
      margin: 1.5%;
    }

  .two_thirds.inline {
    display: inline-block;
  }

  .one_third {
    width: 29%;
    margin: 1.5%;
    vertical-align: top;
    display: inline-block;
  }

  .one_third img {
    width: 100%;
    display: block;
    vertical-align: top;
  }

  .inline {
    display: inline-block;
  }
}

@media (min-width: 440px) and (max-width: 899px) {

  .center {
    width: 440px;
    margin: 0 auto;
  }

  img.thumbnail, span.caption {
  	width: 197px;
  }

  .tint {
    height: 197px;
  }

  span.caption {
    padding-top: 60px;
  }

  h3 {
    font-size: 23px;
  }

  .two_thirds.bigger {
    font-size: 22px;
  }

  .initial_hide {
  	display: none;
  }

  ul.navigation {
    display: none;
  }

  .dropbtn {
    color: black;
    background: none;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    text-align: right;
    padding: 10px;
    font-family: 'Work Sans';
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    padding: 15px 15px 0px 0px;
    display: none;
    width: 80px;
    position: absolute;
    overflow: auto;
    left:auto;
    right:0;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  /*.dropdown-content a:hover {
    color: white;
  }*/

  .show {display:block;}

  .one_third, .two_thirds, .one_third img {
    width: 100%;
  }

  .inline {
    display: block;
    text-align: center;
    font-size: 14px;
  }

  ul.links {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

@media screen and (max-width : 439px) {
  .center {
    width: 90%;
    margin: 0 5%;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    margin-left: 20px;
  }

  .one_third, .two_thirds.bigger, .one_third img {
    padding: 10%;
    width: 80%;
  }

  .two_thirds.bigger {
    font-size: 18px;
  }

  img.thumbnail, span.caption {
  	width: 100%;
  }

  span.caption {
    padding-top: 140px;
  }

  h3 {
    font-size: 45px;
  }

  .initial_hide {
  	display: none;
  }

  ul.navigation {
    display: none;
  }

  .dropbtn {
    color: black;
    background: none;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    text-align: right;
    padding: 10px;
    font-family: 'Work Sans';
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    padding: 15px 15px 0px 0px;
    width: 80px;
    display: none;
    position: absolute;
    overflow: auto;
    left: auto;
    right: 0;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      padding: 10px;
      text-decoration: none;
      display: block;
      background: white;
  }

  .show {display: block;}

  .inline {
    display: block;
    font-size: 14px;
  }

  ul.links {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.center {
  padding-bottom: 20px;
  overflow: auto;
}

.right img, .left img {
  width: 100%;
  margin: 0 auto;
}

.spacer {
  display: block;
  width: 100%;
  height: 50px;
}

.two_thirds.inline {
  text-align: left;
}

h1 a, a.link_to_site {
color: white;
}


a.link_to_site:hover {
color: rgba(229, 204, 201, 1.0);
}
