@media (min-width: 1200px) {

  img.portrait {
    width: 80%;
    margin: 0px 0px 0px 40px;
  }

  .left {
    display: inline-block;
    width: 545px;
    margin: 15px;
  }

  .right {
    display: inline-block;
    width: 545px;
    margin: 15px;
    vertical-align: top;
  }

  iframe {
    width: 1163px;
    height: 655px;
  }

  img.full {
    width: 100%;
  }

  img.half {
    width: 545px;
    vertical-align: middle;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {

  img.portrait {
    width: 80%;
    margin: 0px 0px 0px 40px;
  }

  .left {
    display: inline-block;
    width: 410px;
    margin: 15px;
    vertical-align: top;
  }

  .right {
    display: inline-block;
    width: 410px;
    margin: 15px;
    float: right;
  }

  iframe {
    width: 884px;
    height: 506px;
  }

  img.full {
    width: 100%;
  }

  img.half {
    width: 432px;
    vertical-align: middle;
  }

}

@media (min-width: 440px) and (max-width: 899px) {

  img.portrait {
    display: block;
    width: 80%;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  .left {
    display: block;
    width: 100%;
  }

  .right {
    display: block;
    width: 100%;
  }

  iframe {
    width: 420px;
    height: 249px;
  }

  img.full, img.half, img.two_thirds {
    width: 80%;
    padding: 10%;
  }
}

@media screen and (max-width : 439px) {
  img.portrait {
    display: block;
    width: 80%;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  .left {
    display: block;
    width: 100%;
  }

  .right {
    display: block;
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  img.full, img.half, img.two_thirds {
    width: 80%;
    padding: 10%;
  }
}

.parallax-window {
	min-height: 45vh;
	background: transparent;
}
